body{
    background: aqua;
}

.input-one {
    box-shadow: 0 0 10px #234345;
}
.input-two {
    box-shadow: 0 0 10px #234345;
}

.line {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line h2{
    font-size: 20px;
}